* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

p span {
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid red;
}

.d-none {
    display: none;
}